.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}


.login-container {
  margin-top: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.label-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #3a404b;
  border-radius: 20px;
  padding: 20px;
}

.label-field span {
  width: 150px;
  text-align: center;
  margin-right: 10px;
}

.input-field {
  max-width: 200px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #61dafb;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #21a1f1;
}

.toggle-button {
  margin-top: 10px;
  background-color: transparent;
  color: #61dafb;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-button:hover {
  color: #21a1f1;
}