.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #282c34;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.content {
    flex: 1;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}